.components {
  display: block;

  .container {
    flex: 1;
    margin-top: 50px;
  }

  .item {
    flex-direction: column;
    margin: 8px;
    padding: 0px;
    width: var(--background-width);
    height: var(--background-width);

    .normal-text {
      display: flex;
      flex-direction: row;
      padding-left: 100px;
      font-size: 18px;
      font-weight: 75;
      margin-bottom: 40px;
      justify-content: center;
      align-items: center;
    }
  }

  .explore-resources {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    height: 75px;
    margin-top: 25px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
}
