.loginContainer {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .loginBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .appLogo {
            width: 40px;
            height: 40px;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .loginHeading {
            font-size: 28px;
            font-weight: 600;
        }

        .inputBox {
            background-color: #161616;
            padding: 20px;
            border-radius: 10px;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                input {
                    width: 300px;
                    height: 40px;
                    border-radius: 10px;
                    font-size: 14px;
                    outline: none;
                    border: 1px solid gray;
                    padding: 0 20px;
                }

                input:focus {
                    border: 1px solid white;
                }

                button {
                    width: 340px;
                    height: 40px;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: bolder;
                    border: none;
                    padding: 0 20px;
                    color: white;
                    background-color: #008fff;
                }

                button:hover {
                    background-color: #00599d;
                }
            }
        }

        .loginFoot {
            font-size: 14px;

            a {
                text-decoration: none;
                color: #008fff;
            }
        }
    }
}