:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.background {
  background-color: azure;
  background-image: url('./marketplace-image.avif');
  background-size: 1450px 250px;
  background-repeat: no-repeat;
  max-height: 300px;
}

.normal-text {
  display: flex;
  justify-content: center;
  margin-right: 100px;

  color: #000;
  font: optional;
}

.text-over-image {
  display: flex;
  color: rgb(252, 251, 251);
  text-shadow: 1px 1px 2px #000;
  padding: 100px;
  font-size: 18px;
  letter-spacing: 1px;
  justify-content: center;
}