name: Auto Label Issues
on:
    issues:
        types:
            -opened

jobs:
    label-issues:
        runs-on: ubuntu-latest

        steps:
            - name: Check for keywords
              uses: actions/github-script@v5
              with: 
                github-token: ${{secrets.GITHUB_TOKEN}}
                script: |
                  const keywords = ["bug", "feature", "enhancement"];
                  const issueTitle = github.context.payload.issue.title.toLowerCase();
                  const issueBody = github.context.payload.issue.body.toLowerCase();

                  let labelsToAdd = [];

                  if(keywords.some(keyword => issueTitle.includes(keyword))) || issueBody.includes(keyword))) {
                    labelsToAdd.push("auto-labeled");
                  }

                  if(labelsToAdd.lenght > 0){
                    console.log(`Adding labels: ${labelsToAdd.join(",")}`);
                    await github.issues.addLabels({
                        issue_number: github.context.payload.issue.number,
                        owner: github.context.repo.owner,
                        repo: github.context.repo.repo,
                        labels: labelsToAdd
                    });
                  }